/* Style feito por Brian */ 

.itemtabela:hover {
    background-color: #b2dfdb !important;
    color: #6200ea;
}

.itemtab {
    color: #004d40 !important;
}

.itemtab:hover{
    color: #00796b !important;
}