html,body{
 height:100%;
}

body {
    background-image: url("http://decorpaper.com.br/colecoes/luna/faixa/66568.jpg");
}

.container {
    position: relative;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 220px;
    overflow: hidden;
    padding-bottom: 50px;
}

#containerLogin {
    display: none;
    background-color: rgba(0, 0, 0, 0);
}

#divUser {
    transition: 0.6s;
}

#divSenha {
    transition: 0.6s;
}

.col {
    transition: 0.6s;
}

.nav-wrapper {
    background-color: dodgerblue;
}

#scale-demo {
    position: fixed;
    right: 26px;
    bottom: 26px;
}

#carregamento,
#carr {
    position: absolute;
    margin: 0 auto;
    right: 46%;
    bottom: 50%;
    z-index: 1000;
}

/*.inativo {
        opacity: 0;
        display: none;
    }*/

.inativo {
    opacity: 0;
    display: none;
}

.carregando {
    opacity: 0.2;
    display: block;
}

.card,
.blue-grey,
.darken-1 {
    color: black;
}

#cont2 {
    transition: 1s;
    z-index: 0;
}

/*Login*/
@media screen and (min-width: 480px) {
    #usuarios {
        width: 50%;
        padding: 20px;
        margin: auto;
        box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, .4);
        background-color: white;
        text-align: center;
    }
}

@media screen and (max-width: 479px) {
    #usuarios {
        width: 90%;
        padding: 20px;
        margin: auto;
        box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, .4);
        background-color: white;
        text-align: center;
    }
}

@media screen and (min-width: 800px) {
    .usuario {
        display: inline-block;
        width: 40%;
        height: 200px;
        border-radius: 5px 5px 5px 5px;
        box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, .2);
        margin: 0px 10px 20px 10px;
    }
}

@media screen and (max-width: 799px) {
    .usuario {
        display: inline-block;
        width: 80%;
        height: 200px;
        border-radius: 5px 5px 5px 5px;
        box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, .2);
        margin-bottom: 40px;
        margin-top: 20px;
    }
}

#user1 > .imagem-usuario {
    background: url('imagens/Icones/cliente.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#user2 > .imagem-usuario {
    background: url('imagens/Icones/funcionario.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.usuario:hover {
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, .4);
    cursor: pointer;
}

.imagem-usuario {
    height: 80%;
    background-color: lightgreen;
    border-radius: 5px 5px 0px 0px;
}

.nome-usuario {
    padding: 5%;
    text-align: center;
}

#div-senha {
    width: 100%;
    margin: 0 auto;
    display: none;
    opacity: 0;
}

#input-senha, #input-usuario {
    width: 75%;
    display: inline-block;
    left: 0px;
}

#voltar {
    display: none;
    top: 0px;
    border-radius: 20px;
    cursor: pointer;
    float: left;
}

#dLogin {
    margin-top: 20px;
}

.btn {
    display: inline-block;
}